<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
       <defaultDocument>
           <files>
               <clear />
               <add value="index.php" />
               <add value="index.html" />
           </files>
       </defaultDocument>
       <rewrite>
           <rules>
		   		<rule name="ignore web forms tools" stopProcessing="true">
					<match url="^public/tools" />
					<action type="None" />
				</rule>
				<rule name="Laravel Remove public">
					<match url="^public/(.*)$" ignoreCase="false" />
					<action type="Redirect" redirectType="Permanent" url="/" />  
				</rule>
				<rule name="Laravel Force public">
					<match url="(.*)" ignoreCase="false" />
					<action type="Rewrite" url="public/{R:1}" />
				</rule>
				<rule name="Laravel Routes" stopProcessing="true">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<match url="^" ignoreCase="false" />
					<action type="Rewrite" url="public/index.php" />
				</rule>
           </rules>
       </rewrite>
   </system.webServer>
</configuration>