<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
	<defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear/>
	    <!--LABS-->
        <rule name="LAB Route" stopProcessing="true">
          <match url="^tools/labs/([_0-9a-z-]+)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="tools/labs/index.php"/>
        </rule>
        <!--WordPress Portal-->
        <rule name="WordPress Portal API Route" stopProcessing="true">
          <match url="^tools/portal/wp-json(.*)"/>
          <action type="Rewrite" url="tools/portal/index.php"/>
        </rule>
        <rule name="WordPress Portal Route" stopProcessing="true">
          <conditions>
            <add input="{URL}" pattern="(tools/portal/wp-(.*))" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <match url="^tools/portal(.*)"/>
          <action type="Rewrite" url="tools/portal/index.php"/>
        </rule>
        <!--WordPress Cyber-->
        <rule name="WordPress Cyber Route" stopProcessing="true">
          <conditions>
            <add input="{URL}" pattern="(tools/cyber/wp-(.*))" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <match url="^tools/cyber(.*)"/>
          <action type="Rewrite" url="tools/cyber/index.php"/>
        </rule>
        <!-- WordPress Checklist-->
        <rule name="WordPress Checklist Route" stopProcessing="true">
          <conditions>
            <add input="{URL}" pattern="(tools/checklist/wp-(.*))" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <match url="^tools/checklist(.*)"/>
          <action type="Rewrite" url="tools/checklist/index.php"/>
        </rule>
        <!--Main App-->
        <rule name="Main App" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Main App 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
		</rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="400"/>
      <error statusCode="400" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\bad_request.html"/>
      <remove statusCode="401"/>
      <error statusCode="401" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\unauthorized.html"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\forbidden.html"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\not_found.html"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\method_not_allowed.html"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\not_acceptable.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\precondition_failed.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\unsupported_media_type.html"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\internal_server_error.html"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\not_implemented.html"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\bad_gateway.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="C:\Inetpub\vhosts\pdpa.redcross.or.th\error_docs\maintenance.html"/>
    </httpErrors>
  </system.webServer>
</configuration>
