a, body, input, label, li, p, span, table, td, th {
	font-family: 'Prompt', sans-serif;
	color: #595555;
}

/*Utility class*/
.pointer {cursor: pointer;}

/*Fix color*/
.bg-orange, .bg-orange>a {
    color: #ffffff!important;
}
.alert-success>p {
    color: #ffffff!important;
}

/*Override component*/
a>.info-box:hover {
	background-color: rgb(245, 245, 245);
}

.dropzone {
    border: 2px dashed rgba(0,0,0,.3) !important;
}

.data-dz-errormessage {
    color: #FFFFFF !important;
}