a, body, input, label, li, p, span, table, td, th {
	font-family: 'Prompt', sans-serif;
	color: #595555;
}

/*Fix color*/
.bg-orange, .bg-orange>a {
    color: #ffffff!important;
}
.alert-success>p {
    color: #ffffff!important;
}